AgentTask/src/main/resources/application.properties
AgentTask/src/main/resources/application-prod.properties
AgentTask/src/main/resources/bootstrap.yml
AgentTask/src/main/resources/application.local.properties
**/application-local.yml
**/target/
.git
.gitignore
.idea
*.iml
.DS_Store
*.md
!README.md
