# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
target/

# JARs
!libs/aidge.jar
/src/main/resources/application.local.properties
*.iml
/.vscode
